  <mat-nav-list>
    <h3>Contribuyente</h3>
    <a mat-list-item routerLink="/contribuyentes/consultar-activos">Consultar Activos del Contribuyente</a>
    <h3>Adeudos</h3>
    <a mat-list-item routerLink="/adeudos/crear">Crear Adeudo</a>
    <a mat-list-item routerLink="/adeudos/modificar">Modificar Adeudo</a>
    <a mat-list-item routerLink="/adeudos/eliminar">Eliminar Adeudo</a>
    <a mat-list-item routerLink="/adeudos/consultar">Consultar Adeudos</a>
    <mat-divider></mat-divider>
    <h3>Créditos</h3>
    <a mat-list-item routerLink="/creditos/crear">Crear Crédito Fiscal</a>
    <a mat-list-item routerLink="/creditos/importar">Importar Créditos</a>
    <a mat-list-item routerLink="/creditos/modificar">Modificar Crédito</a>
    <a mat-list-item routerLink="/creditos/visualizar">Visualizar Crédito</a>
    <a mat-list-item routerLink="/creditos/cartera">Consultar Cartera</a>
    <h3>Multas No Fiscales</h3>
    <a mat-list-item routerLink="/multas-no-fiscales/crear-multa-no-fiscal">Crear Multa No Fiscal</a>
  </mat-nav-list>
